<!--<% include ./partials/header %>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col s12 z-depth-1 my center customborder">-->
<!--      <h1>Kollect</h1>-->
<!--      <p>A questionnaire is a set of questions typically used for research purposes which-->
<!--        can be both qualitative as well as quantitative in nature. A questionnaire may or may not be-->
<!--        delivered in the form of a survey, but a survey always consists of questionnaire.</p>-->
<!--      <a href="/studentregister" class="waves-effect waves-light btn mystylebutton">SignUp</a>-->
<!--      <a href="/login" class="waves-effect waves-light btn mystylebutton">Login</a>-->
<!--      <p></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<% include ./partials/footer %>-->


<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript">
    window.NREUM || (NREUM = {}), __nr_require = function (e, n, t) {
      function r(t) {
        if (!n[t]) {
          var o = n[t] = {
            exports: {}
          };
          e[t][0].call(o.exports, function (n) {
            var o = e[t][1][n];
            return r(o || n)
          }, o, o.exports)
        }
        return n[t].exports
      }
      if ("function" == typeof __nr_require) return __nr_require;
      for (var o = 0; o < t.length; o++) r(t[o]);
      return r
    }({
      1: [function (e, n, t) {
        function r() {}

        function o(e, n, t) {
          return function () {
            return i(e, [c.now()].concat(u(arguments)), n ? null : this, t), n ? void 0 : this
          }
        }
        var i = e("handle"),
          a = e(3),
          u = e(4),
          f = e("ee").get("tracer"),
          c = e("loader"),
          s = NREUM;
        "undefined" == typeof window.newrelic && (newrelic = s);
        var p = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace",
            "inlineHit", "addRelease"
          ],
          d = "api-",
          l = d + "ixn-";
        a(p, function (e, n) {
            s[n] = o(d + n, !0, "api")
          }), s.addPageAction = o(d + "addPageAction", !0), s.setCurrentRouteName = o(d + "routeName", !0), n
          .exports = newrelic, s.interaction = function () {
            return (new r).get()
          };
        var m = r.prototype = {
          createTracer: function (e, n) {
            var t = {},
              r = this,
              o = "function" == typeof n;
            return i(l + "tracer", [c.now(), e, t], r),
              function () {
                if (f.emit((o ? "" : "no-") + "fn-start", [c.now(), r, o], t), o) try {
                  return n.apply(this, arguments)
                } catch (e) {
                  throw f.emit("fn-err", [arguments, this, e], t), e
                } finally {
                  f.emit("fn-end", [c.now()], t)
                }
              }
          }
        };
        a("actionText,setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","), function (e, n) {
          m[n] = o(l + n)
        }), newrelic.noticeError = function (e, n) {
          "string" == typeof e && (e = new Error(e)), i("err", [e, c.now(), !1, n])
        }
      }, {}],
      2: [function (e, n, t) {
        function r(e, n) {
          if (!o) return !1;
          if (e !== o) return !1;
          if (!n) return !0;
          if (!i) return !1;
          for (var t = i.split("."), r = n.split("."), a = 0; a < r.length; a++)
            if (r[a] !== t[a]) return !1;
          return !0
        }
        var o = null,
          i = null,
          a = /Version\/(\S+)\s+Safari/;
        if (navigator.userAgent) {
          var u = navigator.userAgent,
            f = u.match(a);
          f && u.indexOf("Chrome") === -1 && u.indexOf("Chromium") === -1 && (o = "Safari", i = f[1])
        }
        n.exports = {
          agent: o,
          version: i,
          match: r
        }
      }, {}],
      3: [function (e, n, t) {
        function r(e, n) {
          var t = [],
            r = "",
            i = 0;
          for (r in e) o.call(e, r) && (t[i] = n(r, e[r]), i += 1);
          return t
        }
        var o = Object.prototype.hasOwnProperty;
        n.exports = r
      }, {}],
      4: [function (e, n, t) {
        function r(e, n, t) {
          n || (n = 0), "undefined" == typeof t && (t = e ? e.length : 0);
          for (var r = -1, o = t - n || 0, i = Array(o < 0 ? 0 : o); ++r < o;) i[r] = e[n + r];
          return i
        }
        n.exports = r
      }, {}],
      5: [function (e, n, t) {
        n.exports = {
          exists: "undefined" != typeof window.performance && window.performance.timing && "undefined" !=
            typeof window.performance.timing.navigationStart
        }
      }, {}],
      ee: [function (e, n, t) {
        function r() {}

        function o(e) {
          function n(e) {
            return e && e instanceof r ? e : e ? f(e, u, i) : i()
          }

          function t(t, r, o, i) {
            if (!d.aborted || i) {
              e && e(t, r, o);
              for (var a = n(o), u = v(t), f = u.length, c = 0; c < f; c++) u[c].apply(a, r);
              var p = s[y[t]];
              return p && p.push([b, t, r, a]), a
            }
          }

          function l(e, n) {
            h[e] = v(e).concat(n)
          }

          function m(e, n) {
            var t = h[e];
            if (t)
              for (var r = 0; r < t.length; r++) t[r] === n && t.splice(r, 1)
          }

          function v(e) {
            return h[e] || []
          }

          function g(e) {
            return p[e] = p[e] || o(t)
          }

          function w(e, n) {
            c(e, function (e, t) {
              n = n || "feature", y[t] = n, n in s || (s[n] = [])
            })
          }
          var h = {},
            y = {},
            b = {
              on: l,
              addEventListener: l,
              removeEventListener: m,
              emit: t,
              get: g,
              listeners: v,
              context: n,
              buffer: w,
              abort: a,
              aborted: !1
            };
          return b
        }

        function i() {
          return new r
        }

        function a() {
          (s.api || s.feature) && (d.aborted = !0, s = d.backlog = {})
        }
        var u = "nr@context",
          f = e("gos"),
          c = e(3),
          s = {},
          p = {},
          d = n.exports = o();
        d.backlog = s
      }, {}],
      gos: [function (e, n, t) {
        function r(e, n, t) {
          if (o.call(e, n)) return e[n];
          var r = t();
          if (Object.defineProperty && Object.keys) try {
            return Object.defineProperty(e, n, {
              value: r,
              writable: !0,
              enumerable: !1
            }), r
          } catch (i) {}
          return e[n] = r, r
        }
        var o = Object.prototype.hasOwnProperty;
        n.exports = r
      }, {}],
      handle: [function (e, n, t) {
        function r(e, n, t, r) {
          o.buffer([e], r), o.emit(e, n, t)
        }
        var o = e("ee").get("handle");
        n.exports = r, r.ee = o
      }, {}],
      id: [function (e, n, t) {
        function r(e) {
          var n = typeof e;
          return !e || "object" !== n && "function" !== n ? -1 : e === window ? 0 : a(e, i, function () {
            return o++
          })
        }
        var o = 1,
          i = "nr@id",
          a = e("gos");
        n.exports = r
      }, {}],
      loader: [function (e, n, t) {
        function r() {
          if (!E++) {
            var e = x.info = NREUM.info,
              n = l.getElementsByTagName("script")[0];
            if (setTimeout(s.abort, 3e4), !(e && e.licenseKey && e.applicationID && n)) return s.abort();
            c(y, function (n, t) {
              e[n] || (e[n] = t)
            }), f("mark", ["onload", a() + x.offset], null, "api");
            var t = l.createElement("script");
            t.src = "https://" + e.agent, n.parentNode.insertBefore(t, n)
          }
        }

        function o() {
          "complete" === l.readyState && i()
        }

        function i() {
          f("mark", ["domContent", a() + x.offset], null, "api")
        }

        function a() {
          return O.exists && performance.now ? Math.round(performance.now()) : (u = Math.max((new Date)
          .getTime(), u)) - x.offset
        }
        var u = (new Date).getTime(),
          f = e("handle"),
          c = e(3),
          s = e("ee"),
          p = e(2),
          d = window,
          l = d.document,
          m = "addEventListener",
          v = "attachEvent",
          g = d.XMLHttpRequest,
          w = g && g.prototype;
        NREUM.o = {
          ST: setTimeout,
          SI: d.setImmediate,
          CT: clearTimeout,
          XHR: g,
          REQ: d.Request,
          EV: d.Event,
          PR: d.Promise,
          MO: d.MutationObserver
        };
        var h = "" + location,
          y = {
            beacon: "bam.nr-data.net",
            errorBeacon: "bam.nr-data.net",
            agent: "js-agent.newrelic.com/nr-1123.min.js"
          },
          b = g && w && w[m] && !/CriOS/.test(navigator.userAgent),
          x = n.exports = {
            offset: u,
            now: a,
            origin: h,
            features: {},
            xhrWrappable: b,
            userAgent: p
          };
        e(1), l[m] ? (l[m]("DOMContentLoaded", i, !1), d[m]("load", r, !1)) : (l[v]("onreadystatechange", o), d[
          v]("onload", r)), f("mark", ["firstbyte", u], null, "api");
        var E = 0,
          O = e(5)
      }, {}]
    }, {}, ["loader"]);
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%=pageTitle%></title>
  <meta name="description" content="Web portal designed to ease Data collection and Exportation.">
  <meta name="keywords" content="" />
  <link rel="icon" type="image/png" href="/logo.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
  <meta property="og:title" content="" />
  <meta name="theme-color" content="#4ecca3" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href="" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i&subset=latin,latin-ext"
    type="text/css" rel="stylesheet">
  <!--[if lt IE 9]><link href="https://old.assets-landingi.com/bootstrap/css/ie8-grid.css?v=8.9.8" type="text/css" rel="stylesheet"><link href="https://styles.assets-landingi.com/XxPdoNf1/base_ie8.css" type="text/css" rel="stylesheet"><![endif]-->
  <link href="https://styles.assets-landingi.com/assets/css/2.10-landend-base.css" type="text/css" rel="stylesheet">
  <link href="https://styles.assets-landingi.com/Ep1Vt7nG/base.css" type="text/css" rel="stylesheet">
</head>

<body id="Zcc579e32ab7c2c234c287cbcbc03f3a7639f9f1">
  <div id="VbAH1H7oOcTviNLA3T42vrV7SvyfEpGN" class="widget widget-section">
    <div class="row">

      <div class="container">

        <div id="dqTByiRVMUtp5vERkzqC9NO4MMilrfIs" class="widget widget-text">
          <h1></h1>
          <h1></h1>
          <h1>Kollect</h1>
        </div>
        <div id="CuvLB55qoEqWSuPdI4HHVWLAy1oZpHpo" class="widget widget-text">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p>Designed to make Data Collection Efficient.</p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div><a href="/studentregister" id="qpk4l7MTltpa52sPTpmIUgB1VcHcOuXJ"
          class="widget widget-button" version="3">
          <div class="widget-overlay"></div>
          <div id="TTspNnmyyrTCFhoLDwvrhBvL3xO0fkOI" class="widget widget-text">SignUp</div>
        </a><a href="/login" id="q9zxIbNd5lVm3DohwPA9tmFi4a0S2JAC"
          class="widget widget-button" version="3">
          <div class="widget-overlay"></div>
          <div id="R2pDQvOWuzi7eHWCQE60pEayLFrlQhLR" class="widget widget-text">Login</div>
        </a>
        <div id="QCJTTy1MFZzidTaeM7PRPNucTGqPx0eM" class="widget widget-text">Employs Google's Material Design.</div>
        <div id="WKFFtA7v1CwBEe1H2HWdauMuNRNxrz6v" class="widget widget-text">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p>Based on Express.</p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div><img id="XZbVk90pFItVxSAec6ucFTpIIVeyuxUf" width="593" height="319" class="widget widget-image"
          data-original="https://images.assets-landingi.com/36eucbl8/laptop.png"
          src="https://images.assets-landingi.com/mqAmxZAg0QebJdvj/laptop.png"
          srcset="https://images.assets-landingi.com/mqAmxZAg0QebJdvj/laptop.png 1x, https://images.assets-landingi.com/36eucbl8/laptop.png 2x"
          alt="">
        <div id="fo9v4fKqk3xlwC5nxvmE2MZq6frmRCu0" class="widget widget-box"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://old.assets-landingi.com/bootstrap/js/landend.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://old.assets-landingi.com/bootstrap/js/bootbox.min.js"></script>
  <script type="text/javascript" src="https://old.assets-landingi.com/js/landing.js"></script>
  <script type="text/javascript" src="https://old.assets-landingi.com/assets/js/dist/landend/3285/landend.js"></script>
  <script type='text/javascript' src='https://old.assets-landingi.com/assets/js/vendor/jquery-form/jquery.form.min.js'>
  </script>
  <script type="text/javascript" src="https://old.assets-landingi.com/assets/js/landend/150719/landend.js"></script>
  <script type="text/javascript" src="https://old.assets-landingi.com/assets/js/landend/070619/validation.js"></script>
  <script>
    $(function () {
      $("body").append('<img src="https://analytics.landingi.com/track/626068" alt="" style="display:none;">');
    });
  </script>
  <script src="https://scripts.assets-landingi.com/video-bg/v0.5/videoBackground.js"></script>
  <script type="text/javascript">
    window.NREUM || (NREUM = {});
    NREUM.info = {
      "beacon": "bam.nr-data.net",
      "licenseKey": "f1e66e60b0",
      "applicationID": "230713468",
      "transactionName": "MVNVNRYCV0ZZVRZaDggZdgIQClZbF18MVwQeGV4PAAZB",
      "queueTime": 0,
      "applicationTime": 723,
      "atts": "HRRWQ14YREg=",
      "errorBeacon": "bam.nr-data.net",
      "agent": ""
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script>
  var toast = "<%=toast%>";
  M.AutoInit();
  $("select[required]").css({
    display: "inline",
    height: 0,
    padding: 0,
    width: 0
  });
  $(document).ready(function () {
    $('ul.tabs').tabs({
      swipeable: true,
      responsiveThreshold: 3000

    });
    $('input#registrationno').characterCounter();
  });
  if (toast && toast.length > 0) {
    M.toast({
      html: "<%=toast%>"
    })
  }
</script>
<script>
  // This is the service worker with the Advanced caching

// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[PWA Builder] active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("pwabuilder-sw.js", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
      });
  }
}

</script>
</body>

</html>