<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3"></div>
            <div class="col s12 m6 z-depth-1 mystyleother">
                <h3>Faculty Registration Form</h3>
                <% if(error && error.length > 0){%>
                <div class="alert alert-danger alert-dismissible fade show animated heartBeat" role="alert">
                    <strong><%= error%></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
                <form action="/facultyregister" method="POST">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for=" fname">Username:</label>
                            <input type="text" name="username" class="validate" id=" fname" required>
                        </div>
                        <div class="input-field col s12 m6">
                            <label for=" mname">Name:</label>
                            <input type="text" name="name" class="validate" id=" mname" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for=" email">Email:</label>
                            <input type="text" name="email" class="validate" id=" email" required>
                        </div>
                        <div class="input-field col s12 m6">
                            <label for=" registrationno">Registration No:</label>
                            <input type="number" name="registrationno" class="validate" id=" registrationno" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            
                            <select name="gender" class="custom-select" required>
                                <option value="" disabled selected>Gender:</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            
                            </select>
                            <label for="gender">Select Gender:</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="phone">Mobile No:</label>
                            <input type="number" name="phone" class="validate" id="phone"
                                placeholder="Enter Mobile Number" required>
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="password">Set Password:</label>
                        <input type="password" name="password" class="validate" id="password" required>
                    </div>
                    <div class="input-field">
                        <label for="passwordconfirm">Confirm Password:</label>
                        <input type="password" name="passwordconfirm" class="validate" id="passwordconfirm" required>
                    </div>
                    <!--<div class="input-field">-->
                    <!--  <div class="form-check">-->
                    <!--    <input class="form-check-input" type="checkbox" id="gridCheck">-->
                    <!--    <label class="form-check-label" for="gridCheck">-->
                    <!--      Check me out-->
                    <!--    </label>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            <div class="col s12 m6 l3"></div>
        </div>
    </div>


<% include ./partials/footer %>