.sidenav-trigger {
    color: black;
}

.test {
    /*width: 300px;*/
    /*height: 300px;*/
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

canvas {
    display: block;
}

.datepicker-date-display {
    background-color: #232931;
}

.datepicker-calendar-container {
    background-color: #4ecca3;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 2em;
}

.customtoast {
    background-color: #4ecca3;
    color: black;
}

.custom {
    margin-top: 0em;
}

.row .customborder {
    padding: .75rem;
    border-radius: 5px;
}

.col.s12.x {
    padding-top: 9px;
}

.navcustom {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4ecca3;
}

body {
    background-color: #232931;
}

.mystyle {
    background-color: #393e46;
}

.mystyleother {
    background-color: #eeeeee;
}

.my {
    background-color: #4ecca3;
}

.mystylebutton {
    background-color: #232931;
    border-radius: 5px;
}

.mystylebuttoncover {
    background-color: #4ecca3;
    border-radius: 5px;
}

.tabs .tab a {
    color: #000;
}

/*Black color to the text*/

.tabs .tab a:hover {
    background-color: #eee;
    color: #000;
}

/*Text color on hover*/

.tabs .tab a.active {
    background-color: #888;
    color: #000;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #000;
}

/*Color of underline*/

/**/

/**/

/**/

#testTable {
    display: block;
    overflow: auto;
    white-space: nowrap;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #232931;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: #232931;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4ecca3;
}